*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
}

form{
  padding: 50px 30px;
  display: flex;
  gap: 10px;

}

form input{
  padding: 10px;
  border-radius: 30px;
  width: 25vw;
}

form button{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(85, 225, 176);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all ease 0.5s;

}
button:hover{
  scale: 0.9;
  background-color: cyan;
}

.card{
  
  height: 40vh;
  width: 20vw;
  background-color: rgb(145, 145, 145);
  border-radius: 50px;
  
  
}
.container{
  display: flex;
  gap: 10px;
}
.text{
  padding: 20px;
  
}

.text h1{
  margin-bottom: 40px;
}
.text h3{
  margin-bottom: 50px;
}
.text h2{
  margin-bottom: 80px;
}