
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:  rgb(255, 255, 255);
   -webkit-text-stroke: 0.5px black;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}


.section{
  background-color: rgb(0, 55, 255);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}