*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

html,body{
    height: 100%;
    width: 100%;
}

#container{
    width: 100%;
    height: 300px;
}

#box{
    height: 100px;
    width: 100px;
    background-color: red;
}