*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
}

h1{
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  left: 50vw;
  top: 50vh;
  line-height: 1;
  white-space:nowrap;
  transform: translate(-50%,-50%);
}


.nav{
  display: flex;
  gap: 20px;
  padding: 20px;
}

.nav a{
  text-decoration: none;
  
}