*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

.nav{
  height: 50px;
  color: white;
  width: 100%;
  background-color: rgb(0, 0, 0);
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.Info{
  display: flex;
  justify-content: space-between;
  gap: 10vw;
  cursor: pointer;
}
.Book{
  background-color: black;
  border-radius: 50px;
  color: white;
  border: 1px solid rgb(73, 73, 73);
  padding: 10px 30px;
  font-weight: 100;
  cursor: pointer;
}
.span{
  border: 1px solid rgba(188, 185, 185, 0.699);
  border-radius: 50px;
  padding: 5px 15px ;
}
.sec{
  height: 91.5vh;
  font-size: 30px;
   display: flex;
   background-image: url('https://images.unsplash.com/photo-1638573615178-6f2950746614?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  /* margin-top: -130px; */
  color: rgb(255, 255, 255);
  background-size: cover;    
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;
}
.sec .spantext{
  line-height: 1;
  display: flex;
  justify-content: center;

}

.sec button{
  margin-top: 30px;
  background-color: black;
  color: white;
  border: 1px solid rgb(109, 109, 109);
  padding: 15px 40px;
  border-radius: 50px;
  cursor: pointer;
}

.sec img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  
}