*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,body{
  height: 100%;
  width: 100%;
}


body{
  background-color: black;
  padding: 20px;
  margin: 20px;
}

.user-card{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
button{
  padding: 20px 10px;
  border-radius: 20px;
  background-color: rgba(49, 177, 119, 0.929);
}
.card{
  display: flex;
  flex-wrap: wrap;
}